/* basic setup */
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: Helvetica;
}
.container {
  width: 80%;
  margin: 50px auto;
}
section {
  margin-top: 5rem;
}
h3 {
  margin: 0;
}
span {
  font-family: monospace;
  background-color: #eee;
  padding: 0.25em;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.flex > div {
  width: 47.5%;
}
.pic-container {
  padding: 1rem 0;
}
