* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica';
  color: #222;
  background-color: #ebebeb;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
}

.title {
  letter-spacing: -0.04em;
}
.sub-hed {
  margin-top: -15px;
  letter-spacing: -0.01em;
}
header#title {
  margin-bottom: 30px;
}

.controls {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #ebebeb;
  position: sticky;
  top: 0;
  padding-top: 20px;
}
.controls > * {
  display: inline-block;
  margin-right: 10px;
}

button,
select {
  background-color: transparent;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: hsl(5, 70%, 60%);
  border: 1px solid hsl(5, 50%, 60%);
  padding: 4px;
  padding-left: 0;
  border: none;
  font-family: inherit;
}

button:hover,
select:hover {
  cursor: pointer;
  font-style: italic;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.item {
  margin: 10px 30px 20px 0;
}

.item h5,
p {
  margin: 0;
}

.item h5 {
  text-transform: uppercase;
  opacity: 0.75;
  letter-spacing: -0.01em;
}

.description {
  font-size: 90%;
  margin: 2px 0;
}

.source {
  font-size: 80%;
  opacity: 0.75;
}

.year {
  background-color: hsl(100, 30%, 40%);
  width: fit-content;
  padding: 2px 4px 2px 4px;
  font-size: 13px;
  margin-bottom: 4px;
  color: white;
}

.archive-image {
  width: 325px;
  height: 216px;
  object-fit: cover;
  border: 1px solid hsl(0, 0%, 90%);
  box-shadow: 0px 0px 10px -3px hsla(0, 0%, 30%, 0.3);
}

footer {
  opacity: 0.6;
  text-transform: lowercase;
  font-size: 80%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 50px;
  padding: 5px 0;
}
